@page
@model LoginModel
@using OpenAir.Client;

<div class="cloud-overlay" aria-hidden="true">

    <img class="cloud-img" src="images/skyer.png" aria-hidden="true" />

    @{
        ViewData["Title"] = "Log ind";
    }



                <h1>@ViewData["Title"]</h1>
                <div class="row">
                    <div class="col-md-5">
                        <section>
                            <form id="account" method="post">
                                <h4>Benyt en bruger til at logge ind</h4>
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Log ind</button>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <a id="forgot-password" asp-page="./ForgotPassword">Glemt adgangskode?</a>
                                        </p>
                                        <p>
                                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Opret ny bruger</a>
                                        </p>
                                        <p>
                                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Send ny bekræftelsesmail</a>
                                        </p>
                                    </div>
                            </form>
                        </section>
                    </div>

                </div>
                <div class="col">
                </div>

                 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


