@page
@model ResetPasswordConfirmationModel

    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Work+Sans');

        body {
            margin: 0;
            font-family: 'Work Sans';
            color: #4d4d4d;
        }
    </style>
    @{
        ViewData["Title"] = "Reset password confirmation";
    }


    <h1>@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
