@page "/privacy"

@attribute [Authorize(Roles = "Administrator")]

<h2>Privacy</h2>

<AuthorizeView>
    <h3>
        Hello @context.User.Identity.Name,
        here's the list of your claims:
    </h3>
    <ul>
        @foreach (var claim in context.User.Claims)
        {
            <li><b>@claim.Type</b>: @claim.Value</li>
        }
    </ul>

</AuthorizeView>

@code {

}
