@page "/privacy"

@attribute [Authorize(Roles = "Administrator")]
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Work+Sans');

        body {
            margin: 0;
            font-family: 'Work Sans';
            color: #4d4d4d;
        }
    </style>
    <h2>Privacy</h2>

    <AuthorizeView>
        <h3>
            Hello @context.User.Identity.Name,
            here's the list of your claims:
        </h3>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li><b>@claim.Type</b>: @claim.Value</li>
            }
        </ul>

    </AuthorizeView>

    @code {

    }
