@page "/"

<div>
    <img src="images/openairlogo.png" class="openair-forside-billede" />
</div>

<h2 class="forside_tekst"></h2>

<div class="openair-forside-indhold">
    <div class="kunstner-div">
        <img src="images/albumcovercollage.jpg" class="kunstner_billede" />
        <h4 class="kunstner_navn">ÅRETS LINEUP</h4>
    </div>
    <div class="billet-div">
        <img src="images/ticket.jpg" class="kunstner_billede" />
        <h4 class="kunstner_navn">BILLETTER</h4>
    </div>
    <div class="tekst1-div">
        <img src="images/openairlogo.png" class="kunstner_billede" />
        <h4 class="kunstner_navn">OPENAIR FESTIVAL</h4>
    </div>
    <div class="tekst2-div">
        <h3 class="kunstner_navn">History</h3>
    </div>
    <div class="scener-div">
        <h3 class="kunstner_navn">Scener</h3>
    </div>
    <div class="miljø-div">
        <h3 class="kunstner_navn">Støt miljøet</h3>
    </div>
    <div class="frivillig-div">
        <h3 class="kunstner_navn">Frivillige</h3>
    </div>
    <div class="koordinator-div">
        <h3 class="kunstner_navn">Koordinator</h3>
    </div>
    <div class="kontakt-div">
        <h3 class="kunstner_navn">Kontakt os</h3>
    </div>
</div>


