@page "/"
<br />
<br />
<div>
    <img src="images/nytlogo.png" class="openair-forside-billede" />
</div>

<br />
<br />

<h2 class="forside_tekst"></h2>

<div class="openair-forside-indhold">

        <br />
        <h1>Velkommen til Open Air Festival!</h1>
        <br />

        <p class="intro">Et moderne bud på en festival hvor man kan skabe gode minder, udfolde sig og stadig tænke på miljøet.</p>
        <p class="intro">Festivalen er drevet af frivillige kræfter, og alt vores overskud går til organisationer som kæmper for miljøet</p>
        <p class="intro">Her kan du feste med god samvittighed!</p>
        <h4><a href="ticket">Find din billet her</a></h4>
    <br />
    </div>



    <form>
        <br />
        <div class="container">
            <h1>Nyhedsbrev</h1>
            <p>Vi opdaterer løbende med nyheder - tilmeld dig nyhedsbrevet her</p>
            <hr>

            <label for="emateril"><b></b></label>
            <input type="text" placeholder="Udfyld Email" name="email" id="email" required>

            <hr>

            <button class="registerbtn">Tilmeld</button>
        </div>

    </form>









