@page "/program"


        <div class="container_program">
            <div class="kunstner1"><img src="images/mileycyrus.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">MILEY CYRUS</h1></div>
            <div class="kunstner2"><img src="images/rihanna.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">RIHANNA</h1></div>
            <div class="kunstner3"><img src="images/scarlet.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">SCARLET PLEASURE</h1></div>
            <div class="kunstner4"><img src="images/andreas.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">ANDREAS ODBJERG</h1></div>
            <div class="kunstner5"><img src="images/machine.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">MACHINE GUN KELLY</h1></div>
            <div class="kunstner6"><img src="images/taylor.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">TAYLOR SWIFT</h1></div>
            <div class="kunstner7">Kunstner</div>
            <div class="kunstner8">Taylor Swift</div>
            <div class="kunstner9">Kunstner</div>
            <div class="kunstner10">Kunstner</div>
            <div class="kunstner11">Kunstner</div>
            <div class="kunstner12">Kunstner</div>
        </div>
