@page "/program"
   
<h1 class="program_overskrift">PROGRAM 2022</h1>
<hr />
<div class="container_program">

        <div class="torsdag"><h2>TORSDAG 7/6-22</h2></div>
        <br />
        <div class="kunstner1"><a onclick=" window.open('https://www.youtube.com/watch?v=A9hcJgtnm6Q', '_blank')"><img src="images/kunstnere/mileycyrus.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">MILEY CYRUS</h1></a> </div>
        <div class="kunstner2"><a onclick=" window.open('https://www.youtube.com/watch?v=JF8BRvqGCNs', '_blank')"><img src="images/kunstnere/rihanna.jpg" class="kunstner_billede" />  <h1 class="kunstner_navn">RIHANNA</h1></a></div>
        <div class="kunstner3"><a onclick=" window.open('https://www.youtube.com/watch?v=FjVVqpZw-wg', '_blank')"><img src="images/kunstnere/scarlet.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">SCARLET PLEASURE</h1> </a></div>
        <br />

        <div class="fredag"><h2>FREDAG 8/6-22</h2></div>
        <br />
        <div class="kunstner4"><a onclick=" window.open('https://www.youtube.com/watch?v=HfmWPfqyYyY', '_blank')"><img src="images/kunstnere/andreas.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">ANDREAS ODBJERG</h1></a></div>
        <div class="kunstner5"><a onclick=" window.open('https://www.youtube.com/watch?v=J_n01uvyhI8', '_blank')"><img src="images/kunstnere/machine.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">MACHINE GUN KELLY</h1></a></div>
        <div class="kunstner6"><a onclick=" window.open('https://www.youtube.com/watch?v=e-ORhEE9VVg', '_blank')"><img src="images/kunstnere/taylor.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">TAYLOR SWIFT</h1></a></div>
        <br />

        <div class="lørdag"><h2>LØRDAG 9/6-22</h2></div>
        <br />
        <div class="kunstner7"><a onclick=" window.open('https://www.youtube.com/watch?v=qvMP-PuMI-8', '_blank')"><img src="images/kunstnere/medina.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">MEDINA</h1></a></div>
        <div class="kunstner8"><a onclick=" window.open('https://www.youtube.com/watch?v=XXYlFuWEuKI', '_blank')"><img src="images/kunstnere/weekend.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">THE WEEKND</h1></a></div>
        <div class="kunstner9"><a onclick=" window.open('https://www.youtube.com/watch?v=reYELUgMmNw', '_blank')"><img src="images/kunstnere/kesi.jpg" class="kunstner_billede" /> <h1 class="kunstner_navn">KESI</h1></a></div>

</div>

<h4 class="program_overskrift">.. OG MANGE FLERE - VI OPDATERER LØBENDE HELT FREM TIL FESTIVALEN</h4>