@page "/tickets"
@using OpenAir.Shared.Models;
@using System;
@using System.Collections.Generic;
@using System.Text;
@inject HttpClient Http
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Authorization;
@using OpenAir.Shared;

<h1>KØB DIN BILLET HER</h1>
<table class="table">
    <thead>
        <tr>
            <th>BILLET</th>
            <th>DATO</th>
            <th>PRIS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Ticketsss in TicketListe)
        {
            <li>
                <input type="checkbox" @bind="Ticketsss.IsDone" />
            <input @bind"Ticketsss.Pris"/>
                
            </li>
        }
    </tbody>
</table>



@code{


    public IList<TicketClass> Ticketsss = new List<TicketClass>();

    public TicketClass[] TicketListe = Array.Empty<TicketClass>();

    protected override async Task OnInitializedAsync()
    {
        TicketListe = await Http.GetFromJsonAsync<TicketClass[]>("Ticket");

    }
}

