@page "/tickets"
@using OpenAir.Shared
@inject HttpClient Http

<h1>KØB DIN BILLET HER</h1>

<div class="container_billet">
    <div class="Partout"><img src="images/partout.png"/><h2 class="kunstnernavn">KØB</h2></div>
    <div class="Billet1"><h1 class="kunstnernavn">TORSDAGSBILLET</h1><h2 class="kunstnernavn">KØB</h2></div>
    <div class="Billet2"><h1 class="kunstnernavn">FREDAGSBILLET</h1><h2 class="kunstnernavn">KØB</h2></div>
    <div class="Billet-3"><h1 class="kunstnernavn">LØRDAGSBILLET</h1><h2 class="kunstnernavn">KØB</h2></div>
</div>

