@page "/"




<div class="openairdiv">
    <div class="kunsterdiv"><img src="images/albumcovercollage.jpg" class="kunstner_billede" /><h4 class="kunstner_navn">ÅRETS LINEUP</h4></div>
    <div class="billetdiv"><img src="images/ticket.jpg" class="kunstner_billede" /><h4 class="kunstner_navn">BILLETTER</h4></div>
    <div class="tekstdiv1"><img src="images/openairlogo.png" class="kunstner_billede" /><h4 class="kunstner_navn">OPENAIR FESTIVAL</h4></div>
    <div class="tekstdiv2"><h3 class="kunstner_navn">History</h3></div>
    <div class="scenerdiv"><h3 class="kunstner_navn">Scener</h3></div>
    <div class="miljødiv"><h3 class="kunstner_navn">Støt miljøet</h3></div>
    <div class="frivilligdiv"><h3 class="kunstner_navn">Frivillige</h3></div>
    <div class="koordinatordiv"><h3 class="kunstner_navn">Koordinator</h3></div>
    <div class="kontaktosdiv"><h3 class="kunstner_navn">Kontakt Os</h3></div>
</div>
