@page "/"

<div><img src="images/openairlogo.png" class="openairforsidebillede" /></div>

<div class="openairdiv">
    <div class="kunsterdiv"><img src="images/albumcovercollage.jpg" class="divbillede" /><h4>ÅRETS LINEUP</h4></div>
    <div class="billetdiv"><img src="images/ticket.jpg" class="divbillede" /><h4>BILLETTER</h4></div>
    <div class="tekstdiv1"><img src="images/openairlogo.png" class="divbillede" /><h4>OPENAIR FESTIVAL</h4></div>
    <div class="tekstdiv2"><h3>History</h3></div>
    <div class="scenerdiv"><h3>Scener</h3></div>
    <div class="miljødiv"><h3>Støt miljøet</h3></div>
    <div class="frivilligdiv"><h3>Frivillige</h3></div>
    <div class="koordinatordiv"><h3>Koordinator</h3></div>
    <div class="kontaktosdiv"><h3>Kontakt Os</h3></div>
</div>


