@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <li class="nav-item nav-login px-1">
            <NavLink class="nav-link" href="authentication/profile">
                @if (context.User.FindFirst("given_name") is not null)
                {
                    <span> Hej @context.User.FindFirst("given_name").Value!</span>
                } else
                {
                    <span> Hej @context.User.Identity.Name!</span>
                }
            </NavLink>
        </li>

        <li class="nav-item nav-login px-1">
            <NavLink class="nav-link" @onclick="@BeginSignOut">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Log ud
            </NavLink>
        </li>
    </Authorized>
    <Authorizing>
        <li class="nav-item nav-login px-1">
            <NavLink class="nav-link" href="authentication/register">
                <span class="oi oi-plus" aria-hidden="true"></span> Opret
            </NavLink>
        </li>

        <li class="nav-item nav-login px-1">
            <NavLink class="nav-link" href="authentication/login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Log ind
            </NavLink>
        </li>
    </Authorizing>
    <NotAuthorized>
        <li class="nav-item nav-login px-1">
            <NavLink class="nav-link" href="authentication/register">
                <span class="oi oi-plus" aria-hidden="true"></span> Opret
            </NavLink>
        </li>

        <li class="nav-item nav-login px-1">
            <NavLink class="nav-link" href="authentication/login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Log ind
            </NavLink>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
