@inherits LayoutComponentBase

<div class="page">
    <div class="navbar-main">
        <NavMenu />
    </div>

    <div class="main mt-5 mb-5">
        <div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
</div>
