<nav class="navbar navbar-expand-md navbar-light bg-light navbar-openair">

    <!-- Logo -->
    <div class="px-1">
        <NavLink class="nav-link link-logo" href="/" Match="NavLinkMatch.All">
            <span aria-hidden="true">
                <img src="images/nytlogo.png" class="logo-nav" />
            </span>
        </NavLink>
    </div>

    <!-- Registrer + log ind/ud -->
    <ul class="nav flex-row login-collapse ml-auto">
        <LoginDisplay />
    </ul>

    <!-- Toggler -->
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar -->
    <div class="navbar-collapse @NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <NavLink class="nav-link" href="program">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> PROGRAM
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="ticket">
                    <span class="oi oi-musical-note" aria-hidden="true"></span> BILLETTER
                </NavLink>
            </li>

            <AuthorizeView>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="blivfrivillig">
                            <span class="oi oi-heart" aria-hidden="true"></span> BLIV FRIVILLIG!
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>

            <AuthorizeView Roles="Administrator, Kontaktperson">
                <li class="nav-item">
                    <NavLink class="nav-link" href="teams">
                        <span class="oi oi-people" aria-hidden="true"></span> Teams
                    </NavLink>
                </li>
            </AuthorizeView>

            <AuthorizeView Roles="Administrator, Frivillig">
                <li class="nav-item">
                    <NavLink class="nav-link" href="vagtplan">
                        <span class="oi oi-list" aria-hidden="true"></span> Vagtplan
                    </NavLink>
                </li>
            </AuthorizeView>

            <AuthorizeView Roles="Administrator, Koordinator">
                <li class="nav-item">
                    <NavLink class="nav-link" href="koordinator">
                        <span class="oi oi-briefcase" aria-hidden="true"></span> Koordinator
                    </NavLink>
                </li>
            </AuthorizeView>

            <AuthorizeView Roles="Administrator, Koordinator">
                <li class="nav-item">
                    <NavLink class="nav-link" href="users">
                        <span class="oi oi-person" aria-hidden="true"></span> Brugere
                    </NavLink>
                </li>
            </AuthorizeView>

            <AuthorizeView Roles="Administrator">
                <li class="nav-item">
                    <NavLink class="nav-link" href="admin">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Admin
                    </NavLink>
                </li>
            </AuthorizeView>
        </ul>

        <!-- Registrer + log ind/ud -->
        <ul class="navbar-nav login-extend ml-auto">
            <LoginDisplay />
        </ul>
    </div>


</nav>

@if (LoginDialogOpen)
{
    <LoginDialog OnClose="@(() => LoginDialogOpen = false)">
    </LoginDialog>
}

@code {
    // NavMenu
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // LoginDialog
    public bool LoginDialogOpen { get; set; }

}
