@using OpenAir.Client.Components

<div class="top-row pl-4 navbar navbar-dark">
    @*<a class="navbar-brand" href="">OpenAir</a>*@
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="bottom-row @NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-row">
        <li class="px-3">
            <NavLink class="nav-link" href="">
                <span aria-hidden="true"></span> <img src="images/openairlogo.png" class="logo_nav" />
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="program">
                <span class="oi oi-plus" aria-hidden="true"></span> Program
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tickets">
                <span class="oi oi-plus" aria-hidden="true"></span> Køb
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Vagtplan">
                <span class="oi oi-plus" aria-hidden="true"></span> Vagtplan
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Koordinator">
                <span class="oi oi-plus" aria-hidden="true"></span> Koordinator
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-person" aria-hidden="true"></span> Display users
            </NavLink>
        </li>
    
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="@(() => LoginDialogOpen = true)">
                    <span class="oi oi-account-login" aria-hidden="true"></span> LoginNu
                </NavLink>
            </li>*@
    </ul>
    <div style="display: inline-flex">
        <LoginDisplay />
    </div>
</div>

@if (LoginDialogOpen)
{
    <LoginDialog OnClose="@(() => LoginDialogOpen = false)">
    </LoginDialog>
}

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public bool LoginDialogOpen { get; set; }

}
