<nav class="navbar navbar-expand-md navbar-light bg-light">

    <!-- Logo -->
    <div class="px-1">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <span aria-hidden="true">
                <img src="images/openairlogo.png" class="logo_nav" />
            </span>
        </NavLink>
    </div>

    <!-- Registrer + log ind/ud -->
    <ul class="nav flex-row login-box login-collapse ml-auto">
        <LoginDisplay />
    </ul>

    <!-- Toggler -->
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse @NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-1">
                <NavLink class="nav-link" href="program">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Program
                </NavLink>
            </li>
            <li class="nav-item px-1">
                <NavLink class="nav-link" href="tickets">
                    <span class="oi oi-musical-note" aria-hidden="true"></span> Køb
                </NavLink>
            </li>
            <li class="nav-item px-1">
                <NavLink class="nav-link" href="vagtplan">
                    <span class="oi oi-list" aria-hidden="true"></span> Vagtplan
                </NavLink>
            </li>
            <li class="nav-item px-1">
                <NavLink class="nav-link" href="koordinator">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Koordinator
                </NavLink>
            </li>

            <li class="nav-item px-1">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-person" aria-hidden="true"></span> Brugere
                </NavLink>
            </li>
        </ul>
    </div>

    <!-- Registrer + log ind/ud -->
    <ul class="nav flex-row login-box login-extend ml-auto">
        <LoginDisplay />
    </ul>

</nav>

@if (LoginDialogOpen)
{
    <LoginDialog OnClose="@(() => LoginDialogOpen = false)">
    </LoginDialog>
}

@code {
    // NavMenu
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // LoginDialog
    public bool LoginDialogOpen { get; set; }

}
